[submodule "Introduction/assessment"]
	path = Introduction/assessment
	url = https://github.com/largekind/assessment
[submodule "Preparation/intro-curriculum-3001"]
	path = Preparation/intro-curriculum-3001
	url = https://github.com/largekind/intro-curriculum-3001
[submodule "Preparation/fibonacci"]
	path = Preparation/fibonacci
	url = https://github.com/largekind/fibonacci
[submodule "Preparation/intro-curriculum-3002"]
	path = Preparation/intro-curriculum-3002
	url = https://github.com/largekind/intro-curriculum-3002
[submodule "Preparation/adding-up"]
	path = Preparation/adding-up
	url = https://github.com/largekind/adding-up
[submodule "Preparation/intro-curriculum-3003"]
	path = Preparation/intro-curriculum-3003
	url = https://github.com/largekind/intro-curriculum-3003
[submodule "Preparation/yarn-training"]
	path = Preparation/yarn-training
	url = https://github.com/largekind/yarn-training
[submodule "Preparation/intro-curriculum-3004"]
	path = Preparation/intro-curriculum-3004
	url = https://github.com/largekind/intro-curriculum-3004
[submodule "Preparation/slack-bot-study"]
	path = Preparation/slack-bot-study
	url = https://github.com/largekind/slack-bot-study
[submodule "Preparation/intro-curriculum-3006"]
	path = Preparation/intro-curriculum-3006
	url = https://github.com/largekind/intro-curriculum-3006
[submodule "Preparation/intro-curriculum-3007"]
	path = Preparation/intro-curriculum-3007
	url = https://github.com/largekind/intro-curriculum-3007
[submodule "Preparation/intro-curriculum-3008"]
	path = Preparation/intro-curriculum-3008
	url = https://github.com/largekind/intro-curriculum-3008