[submodule "Introduction/assessment"]
	path = Introduction/assessment
	url = https://github.com/largekind/assessment
[submodule "Preparation/intro-curriculum-3001"]
	path = Preparation/intro-curriculum-3001
	url = https://github.com/largekind/intro-curriculum-3001
[submodule "Preparation/fibonacci"]
	path = Preparation/fibonacci
	url = https://github.com/largekind/fibonacci
[submodule "Preparation/intro-curriculum-3002"]
	path = Preparation/intro-curriculum-3002
	url = https://github.com/largekind/intro-curriculum-3002
[submodule "Preparation/adding-up"]
	path = Preparation/adding-up
	url = https://github.com/largekind/adding-up
[submodule "Preparation/intro-curriculum-3003"]
	path = Preparation/intro-curriculum-3003
	url = https://github.com/largekind/intro-curriculum-3003
